@mixin container($toppadding, $leftpadding) {
	padding: $toppadding $leftpadding;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

@mixin stroke($color) {
	text-shadow:
		-2px -2px 0 $color,
		2px -2px 0 $color,
		-2px 2px 0 $color,
		2px 2px 0 $color;
}

@mixin fullCenter() {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}